
.big-links a {
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin-bottom: 10px;
	font-size: 35px;
	padding-left: 0;
	padding-right: 0;
}

@font-face {
  font-family: 'fontello';
  src: url("../files/fonts/fontello.eot?4839398");
  src: url("../files/fonts/fontello.eot?4839398#iefix") format('embedded-opentype'), url("../files/fonts/fontello.woff?4839398") format('woff'), url("../files/fonts/fontello.ttf?4839398") format('truetype'), url("../fonts/fontello.svg?4839398#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: 100;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


#tiles {
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	list-style-type: none;
	position: relative;
	margin: 0;
	display: block;
}

#tiles li {
	width: 220px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
}

#tiles li h5 {
	background: url(../img/orange-header.png) right top no-repeat;
	display: block;
	color: white;
	height: 48px;
	padding: 0px;
	margin: 0px;
	line-height: 48px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#tiles li img {
	display: block;
}

#tiles li.news h3 {
	padding-top: 20px;
	font-weight: 400;
	font-style: italic;
	color: #ec5e34;
	font-size: 16px;
	padding-bottom: 10px;
	line-height: 150%;
}

#tiles li.news h3, #tiles li.news p, #tiles li.news a.read-more {
	background: white;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

#tiles li.news p {
	color: #6eaab3;
	font-weight: 300;
	line-height: 150%;
	font-size: 13px;
}

#tiles li p {
	color: #666;
	font-size: 12px;
}

#tiles li.news h3, #tiles li.news p, #tiles li.news a.read-more {
	background: white;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

#tiles li.news a.read-more {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	text-decoration: none;
	color: #e05931;
	text-transform: uppercase;
}

#tiles li h5 span {
display: block;
width: 48px;
height: 48px;
float: left;
margin-right: 12px;
}
#tiles li h5 span {
background: url(../images/blue-horizontal.png) 0px 0px repeat;
}

.icon-quote:before {
content: 'e054';
font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
width: 40px;
font-size: 18px;
}

#tiles li.quote blockquote {
font-smoothing: antialiased !important;
-webkit-font-smoothing: antialiased !important;
-moz-font-smoothing: antialiased !important;
-ms-font-smoothing: antialiased !important;
background: #29494e;
color: #e05931;
font-size: 29px;
line-height: 95%;
padding: 20px;
font-style: italic;
font-weight: 300;
margin: 0px;
border: none;
}

#tiles li.quote p {
text-align: right;
color: #99c9d0;
background: #29494e;
font-weight: 300;
margin: 0px;
padding: 0px 20px 20px 0;
}


[class^="icon-"], [class*=" icon-"] {
	margin: 0;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
font-family: 'fontello';
font-style: normal;
font-weight: 100;
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: 0.2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: 0.2em;
}



#tiles li h5 {
	background: url(../img/orange-header.png) right top no-repeat;
	display: block;
	color: white;
	height: 48px;
	padding: 0px;
	margin: 0px;
	line-height: 48px;
	font-size: 12px;
	text-transform: uppercase;
}
.icon-article-alt:before {
	content: '\e735';
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	width: 40px;
	font-size: 23px;
	line-height: 48px;
}

#tiles li h5 span {
display: block;
width: 48px;
height: 48px;
float: left;
margin-right: 12px;
}
#tiles li h5 span {
background: url(../img/blue-horizontal.png) 0px 0px repeat;
}
#tiles li.news h5 span {
background-position: 0px -48px;
}


.icon-star-1:before { content: '\e800'; } /* '' */
.icon-article-alt:before { 
	content: '\e735'; 
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important
	-moz-font-smoothing: antialiased !important
	-ms-font-smoothing: antialiase !important;
	width: 40px;
	font-size: 23px;
	line-height: 48px;
} /* '' */ 
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-quote:before { 
	content: '\e054';  
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	width: 40px;
	font-size: 18px;
} /* '' */
.icon-reply-1:before { content: '\e712'; } /* '' */
.icon-retweet:before { content: '\e717';
 } /* '' */

 #tiles li.quote:after {
content: '';
display: block;
height: 20px;
width: 20px;
margin-left: 180px;
background: url(../img/quote-arrow.png) no-repeat;
}

.icon-quote {
	line-height: 48px;
}

#tiles li.news p a {

	color: #bbbbbb;
font-weight: 600;
text-decoration: none;
}

body {
	background: url(../img/background.png) repeat;
}

#tiles li {
	float: left;
	margin: 20px;
	position: relative;
}

.edit-bar {
	width: 100%;
	height: 50px;
	text-align: center;
	position: absolute;
}

.edit-bar a {
	display: block;
	background: #0f82f5;
	width: auto;
	float: left;
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-right: 5px;
	text-decoration: none;
}
.edit-bar a:hover {
	background: #0072e6;
}
.navbar-inner {
	background: #EC5D30;
}
.btn {
	color: white;
	background: #29494E;
}
.btn:hover {
	background: #2c585f;
}

#map {
	display: block;
	width: 100%;
	height: 500px;
	margin: 20px 0;
}

#map img {
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
}

#sort-me th {
	cursor: pointer;
	text-align: center;
	background: #4eb4e5;
	color: white;
}

#sort-me th:hover {
	background: #0072e6;
}

#panel { margin-top: 10px; }

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
	z-index: 9999999;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
	display: none;
}

#truechoice-map path {
	cursor: pointer;
}

 .ficon-facetime-video {
 	display: block;
	width: 48px !important;
	text-align: center;
	font-size: 18px;
	line-height: 48px;
 }

 #tiles li.video h3,
#tiles li.video p {
	background: white;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

#tiles li.video h3 {
	padding-top: 10px;
	font-weight: 400;
	font-style: italic;
	color: #ec5e34;
	font-size: 16px;
	padding-bottom: 10px;
}
#tiles li.video img {
	width: 100%;
}
#tiles li.video a {
	position: relative;
	display: block;
	text-decoration: none;
}
#tiles li.video .ficon-play {
	position: absolute;
	color: white;
	top: 30%;
	left: 80px;
	z-ind: 10;
	display: none;
	font-size: 30px;
	height: 50px;
	width: 45px;
	padding-left: 5px;
	background: rgba(0,0,0,.9);
	border: 4px solid rgba(255,255,255,.2);
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	text-shadow: 0px 2px 3px rgba(0,0,0,.9);
	-moz-text-shadow: 0px 2px 3px rgba(0,0,0,.9);
	-webkit-text-shadow: 0px 2px 3px rgba(0,0,0,.9);
	-ms-text-shadow: 0px 2px 3px rgba(0,0,0,.9);
}
#tiles li.video a:hover .ficon-play {
	display:block;
}
#tiles li.video a:hover .ficon-play:hover {
	color:#ec5e34;
}

#tiles li.video p {
	padding-bottom: 20px;
}